
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
  }
  html {
    scroll-behavior: smooth;
  }

/*Body Section */
body {
  font-weight: 200;
  background-color: rgb(255, 205, 240);
}
header{
  position: fixed;
  top: 0;
 
  width: 100%;    
  z-index: 999;
  background-color: #5e0166;
}
main{
  padding-top: 4%;
}

/*==========UTILITY CLASSES==========*/
/* === DISPLAY === */
.display-inline{
  display: inline;
}
.display-block{
  display: block;
}
.display-flex{
  display: flex;
  flex-wrap: wrap;
}

/* === LAYOUT === */
/* === TEXT === */
.text-center{
  text-align: center;
}
.no-underline{
  text-decoration: none;
}
.no-list-style{
  list-style-type: none;
}

/* === TEXT SIZE === */
.text-lg{
  font-size: 20px;
}
.text-2xl{
  font-size: 40px;
}
/* === TEXT FONT FAMILIES === */

/* === TEXT COLORS === */
.text-antique{
  
  color: antiquewhite;
}
.text-purple-dark {
  color: #5e0166;
}
/* ===TEXT STYLE === */

.ft-weight-900{
  font-weight: 900;
}
/* === TEXT SHADOWS === */
.shadow-purple {
  text-shadow: 2px 2px 5px rgb(148, 55, 148);
}

/* === COLORS === */
.bg-purple-dark{
  background-color: rgba(73, 5, 73, 0.932);
}
.bg-purple-hover:hover{
  background-color: rgba(131, 10, 115, 0.74);
}

/* === SPACING === */
.small-padding{
  padding: 2%;
}
.no-padding{
  padding: 0;
}
.small-margin{
  margin: 2%;
}
/* === BORDERS === */
.default-border{
 border:  5px solid  antiquewhite;
}

/*==========CUSTOM STYLING==========*/

/* ==== NAVIGATION===*/

.nav-items{
  list-style-type: none;
  display: flex;
  
}


/*===PROFILE PICTURE===*/
.profile-picture {
  background-color:rgb(148, 55, 148);
  padding: .75%;             
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 20px auto;            
  width: fit-content;
  height: auto;          
}

.profile-picture img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

/* ===ABOUT===*/

#about{
  background-color: #8c3394b2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;         
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 20px auto;            
  width: 46%;
  height: auto;
  overflow-y: auto;
}

#about p{
  padding: 5px;      
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
  margin: 30px auto;            
  width: fit-content; 
  background-color: rgba(133, 14, 133, 0.74);
}
.image-about-section{
  display: flex;
}

/* ===EXPERIENCE===*/

#experience{
  background-color: #8c3394bd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;         
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 20px auto;      
  width: 75%;
  height: auto;
  }

.experience-style{
  padding: 5px;      
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
  margin: 10px auto;            
  background-color: rgba(133, 14, 133, 0.74);
   
  column-gap: 10px;
  row-gap: 10px;
}

.job-section-style{
  border: antiquewhite solid;
  border-radius: 2px;
  padding: 5px; 
  margin: 20px auto; 
  display: flex;
  gap: 30px;
}


/* ===SKILLS===*/

#skills{
  background-color: #8c3394b2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;     
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 20px auto;            
  width: 46%;
  height: auto;
}

/* ===PROJECTS=== */
#projects{
  background-color: #8c3394bd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;         
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 20px auto;    
  width: 46%;
  height: auto;
}

/* ===CONNECT=== */

#connect {
  margin-top: 30px;
  text-align: center;
}
#connect li{
  margin: 0 10px;
}
#connect ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

/* ===CONTACT ME=== */

#contactMeForm{
  background-color: #8c33949d;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;        
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-top: 10%;
  height: 300px;
  width: 500px;
}

#contactMeForm form{
  padding-top: 20px;
}
#contactMeForm form section{
  padding: 10px;
}
.contactSubmit input[type=submit]{
  padding: 10px;         
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
  margin: 10px auto;            
  width: fit-content; 
  background-color: rgba(133, 14, 133, 0.74);
  font-size: 20px;
  border: none;            
  outline: none;           
  cursor: pointer;
}
.contactSubmit input[type=submit]:hover {
  background-color: #5e0166;
}

input[type=text], input[type=email]{
  width: 50%;
  padding: 4px 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

